[submodule "docs/diginstroom/sip/1.0"]
	path = docs/diginstroom/sip/1.0
	url = https://github.com/viaacode/sip-specification.git
	branch = 1.0
[submodule "docs/diginstroom/sip/1.1"]
	path = docs/diginstroom/sip/1.1
	url = https://github.com/viaacode/sip-specification.git
	branch = 1.1
[submodule "docs/diginstroom/sip/1.2"]
	path = docs/diginstroom/sip/1.2
	url = https://github.com/viaacode/sip-specification.git
	branch = 1.2
[submodule "docs/diginstroom/sip/2.0"]
	path = docs/diginstroom/sip/2.0
	url = https://github.com/viaacode/sip-specification.git
	branch = 2.0
[submodule "docs/diginstroom/sip/2.1"]
	path = docs/diginstroom/sip/2.1
	url = https://github.com/viaacode/sip-specification.git
	branch = 2.1
