# hasura endpoint url
ENDPOINT=https://services.viaa.be/ai-results/v1/graphql
# bearer token url
TOKEN_ENDPOINT=https://oas.hetarchief.be/token
# token expiration in seconds
EXPIRES_IN=86400
# number of tasks in one page for a hasura query
PAGE_SIZE=1000

# FILL IN THESE VALUES IN THE COPIED .env FILE
USER_EMAIL=
PASSWORD=